---
import Layout from '../layouts/Layout.astro';
import CardStack from '../components/CardStack.vue';
---

<Layout title='card effect'>
  <div class='w-full h-[100vh] flex justify-center items-center'>
    <CardStack />
  </div>
</Layout>
